.suggestion_container{
    width: 325px;
    height: 290px;
    margin: 25px 0 0 20px;
}

.suggestion_header{
    font-weight: bold;
    color: #bebebe;
    display: flex;
}

.suggestion_body{
    height: 256px;
    width: 290px;
    margin-top: 10px;
}

.suggestion_friends{
    display: flex;
    padding: 5px 0;
}

.suggestion_image{
    max-width: 35px;
    max-height: 35px;
}

.suggestion_username{
    font-weight: bold;
    margin: 10px;
}